<h3 class="joke">	<%= @post.body %> </h3>
<h3 class="tag">Tags: <%= @post.tag %> </h3>
<h3 class="points">Rating: <%= @post.rating %> </h3>
<% if @post.user %>
	<h3 class="jokeby">By: <%= @post.user.username %> </h3>
<% else %>
<% end %>
<hr>
<% if @current_user == @post.user %>
	<a href="../editpost/<%= @post.id %>">Edit Joke</a><br>
	<form method="post" action="/posts/<%= @post.id %>"> 
	  <input type="hidden" name="_method" value="delete">
	  <button type="submit">Delete Joke</button>
	</form>
<% end %>
<a href="../newpost">Add a Joke</a><br>
<a href="../feed">See the Latest Jokes</a>