<h1 class="page_heading">Profile</h1>
<h3 class="username"><%= @user.username %></h3>
<h3>First Name: <%= @user.firstname %></h3>
<h3>Last Name: <%= @user.lastname %></h3>
<h3>Age: <%= @user.age %></h3>
<h3>Birthday: <%= @user.birthday %></h3>
<h3>Email: <%= @user.email %></h3>

<% if current_user.id == @user.id %>
	<a href="welcome">Edit Profile</a><br>
<% else %>
<% end %>
<a href="newpost">Add a Joke</a><br>
<a href="feed">See the Latest Jokes</a>

<% if Dir.exists?('user') %>
	Hi
	<% else %>
	NO
	<% end %>